body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 10px;
}

.menu-engrenagem {
    position: relative;
}

#menu-toggle {
    display: none; /* Oculta o input checkbox */
}

.menu-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}

.menu-list {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu-list li {
    padding: 10px;
}

.menu-list a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.menu-btn::before {
    display: inline-block;
    margin-right: 5px; /* Espaçamento entre o ícone e o texto do label */
}

#menu-toggle:checked + .menu-btn + .menu-list {
    display: block;
    opacity: 1;
    visibility: visible;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}
