<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/entrar.css">
</head>
<body>

<form action="/salvar" method="post">

    <h2>Login</h2>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required><br>

    <button type="button" onclick="entrar()">Entrar</button>

    <script>
        function entrar() {
            // Obter os valores dos campos de email e senha
            var email = document.getElementById('email').value;
            var senha = document.getElementById('senha').value;

            // Verificar se os campos estão preenchidos
            if (email && senha) {
                // Redirecionar para a página desejada ao clicar no botão
                window.location.href = "/RedeSocial/templates/aplicacao.html";
                // Certifique-se de que a página desejada existe no seu projeto
            } else {
                alert("Por favor, preencha todos os campos.");
            }
        }
    </script>
</form>

</body>
</html>
