<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="/RedeSocial.css">
</head>
<body>

<header>
    <div class="logo">Logo da Empresa</div>
    <nav>
        <ul>
            <li><a href="entrar">Entrar</a></li>
            <li><a href="cadastro">Cadastrar</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Bem-vindo à nossa aplicação</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque, urna nec scelerisque commodo, metus dolor suscipit augue, nec pellentesque nisi elit nec dui.</p>
</main>

</body>
</html>
